<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="message {{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endwith %}
    <h1>Add Student</h1>

    <form method="POST">

        <input type="text" name="name"
               placeholder="Student Name" required>

        <input type="text" name="usn"
               placeholder="USN" required>

        <input type="text" name="branch"
               placeholder="Branch" required>

        <input type="number" name="semester"
               placeholder="Semester" required>

        <input type="number" step="0.01"
               name="marks"
               placeholder="Marks" required>

        <button type="submit">Add Student</button>

    </form>

    <a href="/">Back to Home</a>

</div>

</body>
</html>